.container {
  max-width: 1282px;
  margin: 0 auto; }

.header {
  background-color: #232536; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px; }
  .navigation .nav_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--light, #FFF);
    font-family: 'Inter', sans-serif;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .navigation .nav_menu li {
      margin-left: 24px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      list-style-type: none; }
      .navigation .nav_menu li a {
        text-decoration: none;
        color: var(--light, #FFF);
        font-family: 'Inter', sans-serif; }
    .navigation .nav_menu button {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      padding: 16px 48px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      color: var(--black, #232536);
      font-family: 'Sen', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      margin-left: 32px; }

.conversation_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .conversation_inner .container2 {
    max-width: 768px;
    margin: 0 auto; }
    .conversation_inner .container2 h1 {
      color: #232536;
      text-align: center;
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 900;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin: 128px 0 12px 0; }
    .conversation_inner .container2 > p:first-of-type {
      color: #232536;
      text-align: center;
      font-family: 'Sen', sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: -2px;
      margin: 0 0 24px 0; }
    .conversation_inner .container2 > p:last-of-type {
      color: var(--medium-grey, #6D6E76);
      text-align: center;
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      margin: 0 0 64px 0; }
    .conversation_inner .container2 .contact_info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 48px 74px 48px 64px;
      background: var(--purple, #592EA9);
      margin-bottom: 32px; }
      .conversation_inner .container2 .contact_info .contact_info_left {
        margin-right: 43px; }
        .conversation_inner .container2 .contact_info .contact_info_left > p:first-of-type {
          display: inline-block;
          color: #ffffff86;
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          border-bottom: 1px solid #ffffff1a;
          padding-right: 198px; }
        .conversation_inner .container2 .contact_info .contact_info_left > p:nth-of-type(2),
        .conversation_inner .container2 .contact_info .contact_info_left p:nth-of-type(3) {
          color: var(--light, #FFF);
          font-family: 'Sen', sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px;
          margin: 0; }
        .conversation_inner .container2 .contact_info .contact_info_left > p:last-of-type {
          color: #ffffff86;
          font-family: 'Inter', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          margin: 0; }
      .conversation_inner .container2 .contact_info .contact_info_right > p:first-of-type {
        display: inline-block;
        color: #ffffff86;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        border-bottom: 1px solid #ffffff1a;
        padding-right: 217px; }
      .conversation_inner .container2 .contact_info .contact_info_right > p:nth-of-type(2) {
        color: var(--light, #FFF);
        font-family: 'Sen', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        margin: 0; }
      .conversation_inner .container2 .contact_info .contact_info_right > p:last-of-type {
        color: #ffffff86;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin: 0; }
    .conversation_inner .container2 .contact_input {
      margin-bottom: 128px; }
      .conversation_inner .container2 .contact_input [method=post] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .conversation_inner .container2 .contact_input [method=post] [type=text] {
          max-height: 76px;
          padding: 24px;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          border-radius: 2px;
          border: 1px solid rgba(109, 110, 118, 0.5);
          margin-bottom: 16px;
          color: var(--black, #232536);
          font-family: 'Inter', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; }
        .conversation_inner .container2 .contact_input [method=post] [name=query] {
          max-height: 76px;
          padding: 24px;
          border-radius: 2px;
          border: 1px solid rgba(109, 110, 118, 0.5);
          color: var(--black, #232536);
          font-family: 'Inter', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          margin-bottom: 16px;
          -webkit-appearance: none;
             -moz-appearance: none;
                  appearance: none;
          background: url("./pictures/Vector.png") no-repeat right;
          background-position-x: calc(100% - 60px); }
        .conversation_inner .container2 .contact_input [method=post] textarea {
          padding: 24px;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          border-radius: 2px;
          border: 1px solid rgba(109, 110, 118, 0.5);
          margin-bottom: 16px;
          color: var(--black, #232536);
          font-family: 'Inter', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; }
        .conversation_inner .container2 .contact_input [method=post] [type=text]::-webkit-input-placeholder,
        .conversation_inner .container2 .contact_input [method=post] textarea::-webkit-input-placeholder {
          color: var(--black, #232536); }
        .conversation_inner .container2 .contact_input [method=post] [type=text]:-ms-input-placeholder,
        .conversation_inner .container2 .contact_input [method=post] textarea:-ms-input-placeholder {
          color: var(--black, #232536); }
        .conversation_inner .container2 .contact_input [method=post] [type=text]::-ms-input-placeholder,
        .conversation_inner .container2 .contact_input [method=post] textarea::-ms-input-placeholder {
          color: var(--black, #232536); }
        .conversation_inner .container2 .contact_input [method=post] [type=text]::placeholder,
        .conversation_inner .container2 .contact_input [method=post] textarea::placeholder {
          color: var(--black, #232536); }
        .conversation_inner .container2 .contact_input [method=post] [type=submit] {
          background: var(--yellow, #FFD050);
          color: var(--black, #232536);
          font-family: 'Sen', sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px;
          padding: 16px 304px;
          border: none; }
          .conversation_inner .container2 .contact_input [method=post] [type=submit]:hover {
            background: #EDC14A; }

.footer {
  padding: 59px 80px 58px 80px;
  background: var(--black, #232536); }
  .footer .footer_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer .footer_inner .footer_inner_nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      min-height: 85px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .footer .footer_inner .footer_inner_nav .nav_menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: var(--light, #FFF);
        font-family: 'Inter', sans-serif;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin: 0; }
        .footer .footer_inner .footer_inner_nav .nav_menu li {
          margin-left: 24px;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          list-style-type: none; }
          .footer .footer_inner .footer_inner_nav .nav_menu li a {
            text-decoration: none;
            color: var(--light, #FFF);
            font-family: 'Inter', sans-serif; }
    .footer .footer_inner .subscription {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: #2e3040; }
    .footer .footer_inner .subscription_left {
      padding: 80px 64px;
      max-width: 690px; }
      .footer .footer_inner .subscription_left > p {
        display: inline-block;
        color: #FFF;
        font-family: 'Sen', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2px;
        margin: 0;
        max-width: 562px; }
    .footer .footer_inner .subscription_right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 84px 56px 116px 0; }
      .footer .footer_inner .subscription_right [type=text] {
        margin-right: 24px;
        width: 298px;
        height: 56px;
        background: #2e3040;
        padding-left: 25px;
        border: 1px solid var(--dark-grey, #4C4C4C); }
      .footer .footer_inner .subscription_right [type=submit] {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 16px 48px;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        background: var(--yellow, #FFD050);
        color: var(--black, #232536);
        font-family: 'Sen', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        border: none; }
        .footer .footer_inner .subscription_right [type=submit]:hover {
          background: #EDC14A; }
    .footer .footer_inner .adress_media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 48px 0 0 0; }
      .footer .footer_inner .adress_media > p {
        color: var(--light, #FFF);
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin: 0;
        opacity: 0.7; }
      .footer .footer_inner .adress_media > menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; }
        .footer .footer_inner .adress_media > menu > li {
          list-style-type: none; }
          .footer .footer_inner .adress_media > menu > li:not(:first-of-type) {
            margin-left: 26.67px; }
    .footer .footer_inner > p {
      color: var(--light, #FFF);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      margin: 0;
      opacity: 0.7; }
