// Для всех
@media all and (max-width: 1439px) {
    .subscription_right {
        flex-direction: column;

        & [type=submit] {
            margin-top: 10px;
        }
    }
}

@media all and (max-width: 1375px) {
    .about_lower>.container .mission_vision {
        padding: 128px 0 64px 0px;
        justify-content: space-evenly;
        padding: 128px 32px;

        .vision {
            margin: 0;
        }

        .mission {
            margin-right: 32px;
        }
    }
}

@media all and (max-width: 1263px) {
    .about_main {
        flex-direction: column;

        .about_main_left {
            text-align: center;
            margin: 0 32px;

            >p:last-of-type {
                max-width: none;
            }
        }

        .about_main_right {
            text-align: center;
            margin: 0 32px;
            z-index: 1;
            background-color: white;
            padding-bottom: 32px;

            >p {
                max-width: none;
                margin: 0 32px;
            }
        }

        .about_main_upper2 {
            position: static;
            top: 0;
        }
    }
}

@media all and (max-width: 1110px) {
    .creatives_blog_left {
        flex-direction: column;
        text-align: center;
        margin-bottom: 32px;
        border-bottom: 1px solid #6d6e765d;

        .creatives {
            margin: 0;

            >p:nth-of-type(2) {
                max-width: none;
            }

            >p:last-of-type {
                max-width: none;
            }
        }

        .creatives_pic_right {
            padding-bottom: 32px;
        }
    }

    .creatives_blog_right {
        flex-direction: column;
        text-align: center;

        .started {
            margin: 0;

            >p:nth-of-type(2) {
                max-width: none;
            }

            >p:last-of-type {
                max-width: none;
            }
        }

        .started_pic_left {
            margin-bottom: 32px;
        }
    }
}

// Для всех
@media all and (max-width: 1070px) {
    .subscription {
        flex-direction: column;
        text-align: center;
        padding: 40px 32px;
        max-width: none;
    }

    .footer .footer_inner .subscription_left {
        padding: 0;
    }

    .footer .footer_inner .subscription_right {
        padding: 40px 30px;
    }
}

// Для всех
@media all and (max-width: 917px) {
    .subscription_right {
        flex-direction: column;
    }

    .footer .footer_inner .subscription_right [type=text] {
        margin: 0;
    }
}

// Для всех
@media all and (max-width: 895px) {
    .footer_inner_nav {
        flex-direction: column;
    }

    .footer .footer_inner .footer_inner_nav .nav_menu {
        justify-content: center;
        padding: 0;
    }
}

@media all and (max-width: 745px) {
    .counter {
        position: relative;
        align-items: center;
        right: 78px;
        flex-wrap: nowrap;

        .counter_column:nth-last-of-type(2) {
            margin: 0 10px;
        }
    }
}

@media all and (max-width: 724px) {
    .creatives_blog .container {
        padding: 25px;
    }
}

// Для всех (ПОД ЗАМЕНУ)
@media all and(max-width: 1375px) {
    .container {
        padding: 0 20px;
    }
}

// Для всех (ПОД ЗАМЕНУ)
@media all and (max-width: 1294px) {
    .authorslist {
        >p {
            margin-bottom: 0;
        }
    }

    .authorslist .authorsabout {
        justify-content: space-evenly;
        padding: 100px;
        margin-bottom: 0;

        .author {
            margin: 25px;
            min-width: 300px;
            min-height: 300px;
        }
    }
}

@media all and(max-width: 1110px){
    .creatives_blog_right .started > p:last-of-type{
        margin: 0;
    }

    .authorslist > h4{
        margin: 0;
    }
}

// Для всех (ПОД ЗАМЕНУ)
@media all and (max-width: 800px) {
    .navigation .nav [for=burger] {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 32px;
    }

    nav {
        display: none;
        position: absolute;
        top: 50px;
        right: 182px;
        margin-top: 2px;
        background-color: rgba(35, 37, 54, 1);
        user-select: none;
        z-index: 2;

        & menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        & li {
            margin: 24px;
        }
    }

    #burger:checked+label+nav {
        display: block;
    }
}

@media all and (max-width: 684px){
    .counter{
        flex-direction: column;
        max-width: 125px;
        padding: 32px 25px;
    }
}

@media all and (max-width: 673px) {

    .creatives_pic_right>img,
    .started_pic_left>img {
        max-width: 624px;
        width: 100%;
    }
}

// Для всех
@media all and (max-width: 650px) {
    .footer .footer_inner .subscription {
        padding: 10px;
    }

    .footer .footer_inner .subscription_right {
        padding: 0;
    }

    .footer .footer_inner .subscription_right [type=text] {
        margin: 0;
        max-width: 298px;
        width: 100%;
    }
}

// Для всех
@media all and (max-width: 631px) {
    .footer .footer_inner .footer_inner_nav {
        align-items: center;
    }

    .footer .footer_inner .footer_inner_nav .nav_menu {
        flex-direction: column;
        align-items: center;
        margin: 25px;

        >li {
            margin: 0;
        }
    }
}

@media all and (max-width: 606px){
    .about_lower > .container .mission_vision{
        flex-direction: column;
    }

    .about_lower > .container .mission_vision .vision > p:first-of-type{
        margin-top: 64px;
    }
}

@media all and (max-width: 604px) {
    .about_main .about_main_left>p:last-of-type {
        font-size: 40px;
        line-height: 55px;
    }
}

// Для всех
@media all and (max-width: 547px) {
    .footer .footer_inner .subscription_right [type=text] {
        padding: 0;
    }
}

@media all and (max-width: 538px) {
    .about_main .about_main_left>p:last-of-type {
        font-size: 30px;
        line-height: 40px;
    }

    .about_main .about_main_left{
        margin: 0;
    }
}

@media all and (max-width: 496px) {
    .simpleidea_inner p:nth-of-type(2) {
        font-size: 36px;
        line-height: 57px;
    }
}

// Для всех
@media all and (max-width: 457px) {
    .footer .footer_inner .adress_media>menu {
        flex-direction: column;
    }
}

// Для всех
@media all and (max-width: 447px) {
    .footer .footer_inner .subscription_left>p {
        font-size: 30px;
        line-height: 42px;
    }
}

// Для всех
@media all and (max-width: 444px) {
    .navigation .nav button {
        display: none;
    }

    nav {
        right: 3px;
    }
}

// Для всех
@media all and (max-width: 414px) {
    .footer .container {
        padding: 0;
    }
}

// Для всех
@media all and (max-width: 395px) {
    .footer .footer_inner .subscription_right [type=submit] {
        padding: 10px;
    }
}

// Для всех
@media all and (max-width: 368px) {
    .footer .footer_inner .subscription_left>p {
        font-size: 25px;
        line-height: 35px;
    }
}