.container {
  max-width: 1282px;
  margin: 0 auto; }

.header {
  background-color: #232536; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px; }
  .navigation .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .navigation .nav .nav_menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: var(--light, #FFF);
      font-family: 'Inter', sans-serif;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0; }
      .navigation .nav .nav_menu li {
        margin-left: 24px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        list-style-type: none; }
        .navigation .nav .nav_menu li a {
          text-decoration: none;
          color: var(--light, #FFF);
          font-family: 'Inter', sans-serif; }
    .navigation .nav button {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      padding: 16px 48px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      color: var(--black, #232536);
      font-family: 'Sen', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      margin-left: 32px; }

.stepbystep {
  background-color: #F4F0F8;
  overflow: hidden; }

.stepbystep_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0 93px 0; }
  .stepbystep_inner .stepbystep_inner_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 624px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 20px; }
    .stepbystep_inner .stepbystep_inner_left > h1 {
      color: var(--black, #232536);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin: 0 0 20px 0; }
    .stepbystep_inner .stepbystep_inner_left > p:first-of-type {
      color: var(--black, #232536);
      font-family: 'Sen', sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -2px;
      margin: 0 0 16px 0; }
    .stepbystep_inner .stepbystep_inner_left > p:nth-of-type(2) {
      color: var(--dark-grey, #4C4C4C);
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      margin: 0 0 16px 0; }
      .stepbystep_inner .stepbystep_inner_left > p:nth-of-type(2) span {
        color: var(--purple, #592EA9);
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; }
    .stepbystep_inner .stepbystep_inner_left > p:last-of-type {
      color: var(--medium-grey, #6D6E76);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      margin: 0 0 32px 0; }
    .stepbystep_inner .stepbystep_inner_left > button {
      padding: 16px 47px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      background: var(--yellow, #FFD050);
      color: var(--black, #232536);
      font-family: 'Sen', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      border: none;
      width: 204px; }
      .stepbystep_inner .stepbystep_inner_left > button:hover {
        background: #EDC14A; }

.posts_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 64px 0 69px 0; }
  .posts_inner > h2 {
    color: var(--black, #232536);
    font-family: 'Sen', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    margin: 0 0 64px 0;
    border-bottom: 1px solid #6d6e763d;
    padding: 0 0 32px 0; }
  .posts_inner .post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 64px; }
    .posts_inner .post .post_img {
      margin-right: 32px; }
    .posts_inner .post .post_text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      max-width: 624px;
      margin-right: 20px; }
      .posts_inner .post .post_text > p:first-of-type {
        color: var(--purple, #592EA9);
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin: 0 0 20px 0; }
      .posts_inner .post .post_text > p:nth-of-type(2) {
        color: var(--black, #232536);
        font-family: 'Sen', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2px;
        margin: 0 0 16px 0; }
      .posts_inner .post .post_text > p:last-of-type {
        color: var(--medium-grey, #6D6E76);
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin: 0; }
  .posts_inner .post:last-of-type {
    margin: 0; }
  .posts_inner .post:hover {
    background: var(--light-yellow, #FBF6EA); }

.posts_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 64px; }
  .posts_nav .posts_nav_left {
    margin-right: 17px; }
    .posts_nav .posts_nav_left > p {
      color: var(--medium-grey, #6D6E76);
      text-align: center;
      font-family: 'Sen', sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      margin: 0; }
  .posts_nav .posts_nav_right > p {
    color: var(--medium-grey, #6D6E76);
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin: 0; }

.category_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 128px; }
  .category_inner > p {
    color: var(--black, #232536);
    font-family: 'Sen', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    margin: 0 0 48px 0; }

.category_choise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .category_choise .category_cube {
    max-width: 296px;
    border: 1px solid #6d6e763d; }
    .category_choise .category_cube .category_icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 48px;
      height: 48px;
      background: var(--light-yellow, #FBF6EA) center;
      border-radius: 10px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 32px 0 16px 32px; }
    .category_choise .category_cube p:first-of-type {
      color: var(--black, #232536);
      font-family: 'Sen', sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -1px;
      margin: 0 0 4px 32px; }
    .category_choise .category_cube p:last-of-type {
      color: var(--medium-grey, #6D6E76);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      max-width: 232px;
      margin: 0 0 32px 32px; }
  .category_choise .category_cube:hover {
    background: var(--yellow, #FFD050); }

.join_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 128px; }
  .join_inner p:first-of-type {
    color: var(--black, #232536);
    font-family: 'Sen', sans-serif;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    max-width: 414px;
    margin: 0 0 16px 0; }
  .join_inner p:last-of-type {
    color: var(--medium-grey, #6D6E76);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    max-width: 405px;
    margin: 0 0 32px 0; }
  .join_inner button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 16px 48px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: var(--yellow, #FFD050);
    color: var(--black, #232536);
    font-family: 'Sen', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    border: none; }
    .join_inner button:hover {
      background: #EDC14A; }

.footer {
  padding: 59px 80px 58px 80px;
  background: var(--black, #232536); }
  .footer .footer_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer .footer_inner .footer_inner_nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      min-height: 85px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .footer .footer_inner .footer_inner_nav .nav_menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: var(--light, #FFF);
        font-family: 'Inter', sans-serif;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin: 0; }
        .footer .footer_inner .footer_inner_nav .nav_menu li {
          margin-left: 24px;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          list-style-type: none; }
          .footer .footer_inner .footer_inner_nav .nav_menu li a {
            text-decoration: none;
            color: var(--light, #FFF);
            font-family: 'Inter', sans-serif; }
    .footer .footer_inner .subscription {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: #2e3040; }
    .footer .footer_inner .subscription_left {
      padding: 80px 64px;
      max-width: 690px; }
      .footer .footer_inner .subscription_left > p {
        display: inline-block;
        color: #FFF;
        font-family: 'Sen', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2px;
        margin: 0;
        max-width: 562px; }
    .footer .footer_inner .subscription_right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 84px 56px 116px 0; }
      .footer .footer_inner .subscription_right [type=text] {
        margin-right: 24px;
        width: 298px;
        height: 56px;
        background: #2e3040;
        padding-left: 25px;
        border: 1px solid var(--dark-grey, #4C4C4C); }
      .footer .footer_inner .subscription_right [type=submit] {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 16px 48px;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        background: var(--yellow, #FFD050);
        color: var(--black, #232536);
        font-family: 'Sen', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        border: none; }
        .footer .footer_inner .subscription_right [type=submit]:hover {
          background: #EDC14A; }
    .footer .footer_inner .adress_media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 48px 0 0 0; }
      .footer .footer_inner .adress_media > p {
        color: var(--light, #FFF);
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin: 0;
        opacity: 0.7; }
      .footer .footer_inner .adress_media > menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; }
        .footer .footer_inner .adress_media > menu > li {
          list-style-type: none; }
          .footer .footer_inner .adress_media > menu > li:not(:first-of-type) {
            margin-left: 26.67px; }
    .footer .footer_inner > p {
      color: var(--light, #FFF);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      margin: 0;
      opacity: 0.7; }
