.container{
    margin: 0 auto;
    width: 1296px;    
}

.upperheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-family: Nunito, sans-serif;
    border-bottom: 1px solid rgba(51, 51, 51, 0.301);

    & h6{
        white-space: pre-wrap;
        color: var(--accent, #EC1B2E);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        text-transform: uppercase;
    }

    & ul{
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        width: 706px;
    
        & li{
            display: flex;
            align-items: center;

            & img{
                margin-right: 20px;
            }
        }

    }

    & button{
        display: flex;
        border: none;
        width: 143px;
        height: 40px;
        font-family: Nunito, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        color: var(--white, #FFF);
        align-items: center;
        justify-content: center;
        background: var(--accent, #EC1B2E);

        & p{
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
        }
    }
}

.lowerheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-family: Nunito, sans-serif;

    & ul{
        display: flex;
        list-style-type: none;

        & li{
            display: flex;
            
            & a{
                color: var(--black, #333);
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 140%;
                letter-spacing: 0.28px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }

        & li:not(first-item){
            margin-left: 20px;
        }
    }
}