.container {
    max-width: 1282px;
    margin: 0 auto;
}

// Шапка
.header {
    background-color: rgba(35, 37, 54, 1);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;

    .nav_menu {
        display: flex;
        color: var(--light, #FFF);
        font-family: 'Inter', sans-serif;
        align-items: center;

        & li {
            margin-left: 24px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            list-style-type: none;

            & a {
                text-decoration: none;
                color: var(--light, #FFF);
                font-family: 'Inter', sans-serif;
            }
        }

        & button {
            display: inline-flex;
            padding: 16px 48px;
            align-items: flex-start;
            color: var(--black, #232536);
            font-family: 'Sen', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin-left: 32px;
        }
    }
}

// Раздел step-by-step
.stepbystep {
    overflow: hidden;
    background: url('./pictures/man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook-3772622.png') no-repeat;
    background-size: cover;
    background-position: 0px -80px;

    .stepbystepinner {
        & p:first-of-type {
            color: var(--light, #FFF);
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 3px;
            text-transform: uppercase;
            margin: 128px 0 24px 0;

            & span {
                color: var(--light, #FFF);
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 900;
                line-height: 20px;
                letter-spacing: 3px;
                text-transform: uppercase;
            }
        }

        & h1 {
            color: var(--light, #FFF);
            font-family: 'Sen', sans-serif;
            font-size: 56px;
            font-style: normal;
            font-weight: 700;
            line-height: 64px;
            letter-spacing: -2px;
            max-width: 803px;
            margin: 0 0 24px 0;
        }

        & p:nth-last-of-type(2) {
            color: var(--light, #FFF);
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;

            & span {
                color: var(--yellow, #FFD050);
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
            }
        }

        & p:last-of-type {
            color: var(--light, #FFF);
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            margin: 0 0 48px 0;
            max-width: 599px;
        }

        & button {
            display: inline-flex;
            padding: 16px 48px;
            align-items: flex-start;
            background: var(--yellow, #FFD050);
            margin: 0 0 192px 0;
            border: none;
            color: var(--black, #232536);
            font-family: 'Sen', sans-serif;
            font-size: 17px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;

            &:hover {
                background: #EDC14A;
            }
        }
    }
}

// Посты
.postsinfo {
    display: flex;
    overflow: hidden;

    .postsinfo_left {
        display: flex;
        flex-direction: column;
        max-width: 733px;
        min-height: 724px;
        margin-right: 32px;

        & p {
            color: var(--black, #232536);
            font-family: 'Sen', sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: -2px;
            margin: 128px 0 32px 0
        }


        .left_about {
            display: flex;
            flex-direction: column;
            border: 1px solid #6d6e761a;
            border-color: #6d6e761a;
            margin-bottom: 128px;


            .infoleftimg {
                display: flex;
                background: url('./pictures/white-concrete-building-1838640.png');
                margin: 32px;
                max-width: 669px;
                min-height: 352px;
            }

            & p:first-of-type {
                color: var(--dark-grey, #4C4C4C);
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 0;
                margin: 0 0 16px 32px;

                & span {
                    color: var(--purple, #592EA9);
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                }
            }

            & p:nth-last-of-type(2) {
                color: var(--black, #232536);
                font-family: 'Sen', sans-serif;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: -1px;
                margin: 0 32px 16px 32px;
            }

            & p:last-of-type {
                color: var(--medium-grey, #6D6E76);
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0;
                margin: 0 150px 32px 32px;
            }

            & button {
                display: inline-flex;
                padding: 16px 48px;
                align-items: flex-start;
                background: var(--yellow, #FFD050);
                margin: 0 0 32px 32px;
                border: none;
                color: var(--black, #232536);
                font-family: 'Sen', sans-serif;
                font-size: 17px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                width: 204px;

                &:hover {
                    background: #EDC14A;
                }
            }
        }
    }

    .postsinfo_right {
        display: flex;
        flex-direction: column;
        max-width: 517px;
        min-height: 724px;

        .postsinfo_right_nav {
            display: flex;
            margin: 128px 0 32px 0;
            justify-content: space-between;
            align-items: center;

            & p:first-of-type {
                color: var(--black, #232536);
                font-family: 'Sen', sans-serif;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 48px;
                letter-spacing: -2px;
                margin: 0;
            }

            & p:last-of-type {
                color: var(--purple, #592EA9);
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;

                & a {
                    text-decoration: none;
                }
            }
        }

        .certainpost {
            max-width: 517px;

            & p:first-of-type {
                color: var(--dark-grey, #4C4C4C);
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                margin: 32px 0 8px 32px;

                & span {
                    color: var(--purple, #592EA9);
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                }
            }

            & p:last-of-type {
                color: var(--black, #232536);
                font-family: 'Sen', sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 32px;
                margin: 0 116px 25px 32px;
            }
        }

        .certainpost:hover {
            background: var(--light-yellow, #FBF6EA);
        }
    }
}

// О нас и миссия
.about_mission_lines {
    display: flex;

    .white,
    .yellow,
    .violet {
        height: 23px;
    }

    .white {
        flex-grow: 1;
    }

    .yellow {
        flex-grow: 3.4;
        background: #FFD050;
    }

    .violet {
        flex-grow: 1.3;
        background: var(--purple, #592EA9);
    }
}

.about_mission_text {
    display: flex;
    background-color: var(--lavender, #F4F0F8);

    .about_mission_left {
        display: flex;
        flex-direction: column;
        max-width: 515px;
        margin: 96px 82px 96px 80px;

        & p:first-of-type {
            color: var(--black, #232536);
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 3px;
            text-transform: uppercase;
            margin: 0 0 24px 0;
        }

        & p:nth-of-type(2) {
            color: var(--black, #232536);
            font-family: 'Sen', sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: -2px;
            margin: 0 0 16px 0;
            max-width: 493px;
        }

        & p:nth-of-type(3) {
            color: var(--medium-grey, #6D6E76);
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            margin: 0 0 16px 0;
        }

        & p:last-of-type {
            color: var(--purple, #592EA9);
            font-family: 'Sen', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            margin: 0;

            & a {
                text-decoration: none;
            }
        }
    }

    .about_mission_right {
        display: flex;
        flex-direction: column;
        margin: 98px 108px 153.27px 0;
        max-width: 516px;

        & p:first-of-type {
            color: var(--black, #232536);
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 3px;
            text-transform: uppercase;
            margin: 0 0 24px 0;
        }

        & p:nth-last-of-type(2) {
            color: var(--black, #232536);
            font-family: 'Sen', sans-serif;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: -1px;
            max-width: 481px;
            margin: 0 0 16px 0;
        }

        & p:last-of-type {
            color: var(--medium-grey, #6D6E76);
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            margin: 0;
        }
    }
}

// Категории
.category_inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 128px;

    >p {
        color: var(--black, #232536);
        font-family: 'Sen', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2px;
        text-align: center;
        margin: 128px 0 48px 0;
    }
}

.category_choise {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .category_cube {
        max-width: 296px;
        border: 1px solid #6d6e763d;

        .category_icon {
            display: flex;
            width: 48px;
            height: 48px;
            background: var(--light-yellow, #FBF6EA) center;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            margin: 32px 0 16px 32px;
        }

        & p:first-of-type {
            color: var(--black, #232536);
            font-family: 'Sen', sans-serif;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: -1px;
            margin: 0 0 4px 32px;
        }

        & p:last-of-type {
            color: var(--medium-grey, #6D6E76);
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            max-width: 232px;
            margin: 0 0 32px 32px;
        }
    }

    .category_cube:hover {
        background: var(--yellow, #FFD050);
    }
}

// Секция "простая идея"
.simpleidea>.container {
    background: url('./pictures/close-up-photography-of-man-wearing-sunglasses-1212984.png') no-repeat;
    min-height: 705px;
    position: relative;
    margin-bottom: 128px;
    overflow: hidden;
}

.simpleidea_inner {
    display: flex;
    flex-direction: column;
    max-width: 706px;
    min-height: 584px;
    background-color: #FFF;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-top: 121px;

    & p:first-of-type {
        color: #232536;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin: 80px 0 24px 80px;
    }

    & p:nth-of-type(2) {
        color: var(--black, #232536);
        font-family: 'Sen', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -2px;
        max-width: 546px;
        margin: 0 80px 16px 80px;
    }

    & p:last-of-type {
        color: var(--medium-grey, #6D6E76);
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        max-width: 546px;
        margin: 0 80px 32px 80px;
    }

    & button {
        display: inline-flex;
        padding: 16px 48px;
        align-items: flex-start;
        background: var(--yellow, #FFD050);
        color: var(--black, #232536);
        font-family: 'Sen', sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        border: none;
        width: 269px;
        margin: 0 0 0 80px;

        &:hover {
            background: #EDC14A;
        }
    }
}

// Авторы
.authorslist {
    display: flex;
    flex-direction: column;

    >p {
        color: var(--black, #232536);
        font-family: 'Sen', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2px;
        text-align: center;
        margin-bottom: 48px;
    }

    .authorsabout {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 96px;

        .author {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 296px;
            background: var(--light-grey, #F4F4F4);

            & img {
                margin: 40px 84px 20px 84px;
            }

            & p:first-of-type {
                color: var(--black, #232536);
                font-family: 'Sen', sans-serif;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: -1px;
                margin: 0;
            }

            & p:last-of-type {
                color: var(--medium-grey, #6D6E76);
                text-align: center;
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                margin: 0 0 20px 0;
            }

            .author_social {
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-width: 112px;
                margin: 0 0 40px 0;

                & img {
                    margin: 0;
                }
            }
        }

        .author:hover {
            background: var(--light-yellow, #FBF6EA);
        }
    }
}

// Партнёры
.partners_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 104px;

    .we_are {
        display: flex;
        flex-direction: column;

        & p:first-of-type {
            color: var(--medium-grey, #6D6E76);
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            opacity: 0.6;
            margin: 0;
        }

        & p:last-of-type {
            color: var(--medium-grey, #6D6E76);
            font-family: 'Sen', sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            margin: 0;
        }
    }

    & img {
        opacity: 0.8;
    }
}

// Тестимония
.testimonials .container {
    background: var(--light-yellow, #FBF6EA);
    min-height: 464px;
}

.testimonials_inner {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 128px;

    .testimonials_left {
        display: flex;
        flex-direction: column;
        margin: 92px 0 74px 112px;
        padding-right: 80px;
        border-right: 1px solid #6d6e765d;

        & p:first-of-type {
            color: var(--black, #232536);
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 3px;
            text-transform: uppercase;
            margin: 0 0 12px 0;
        }

        & p:nth-of-type(2) {
            color: var(--black, #232536);
            font-family: 'Sen', sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: -2px;
            max-width: 354px;
            margin: 0 0 16px 0;
        }

        & p:last-of-type {
            color: var(--black, #232536);
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            max-width: 349px;
        }
    }

    .testimonials_right {
        display: flex;
        flex-direction: column;
        margin: 80px 112px 75px 96px;

        >p {
            color: var(--black, #232536);
            font-family: 'Sen', sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            max-width: 469px;
            margin: 0 0 121px 0;
        }

        .testimonials_right_author {
            display: flex;
            align-items: center;

            .testimonials_right_author_credentials {
                display: flex;
                flex-direction: column;
                margin-left: 16px;

                & p:first-of-type {
                    color: var(--black, #232536);
                    font-family: 'Sen', sans-serif;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 32px;
                    margin: 0;
                }

                & p:last-of-type {
                    color: var(--medium-grey, #6D6E76);
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    margin: 0;
                }
            }
        }
    }
}

// Приглашение
.join_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 128px;

    & p:first-of-type {
        color: var(--black, #232536);
        font-family: 'Sen', sans-serif;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2px;
        max-width: 414px;
        margin: 0 0 16px 0;
    }

    & p:last-of-type {
        color: var(--medium-grey, #6D6E76);
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        max-width: 405px;
        margin: 0 0 32px 0;
    }

    & button {
        display: inline-flex;
        padding: 16px 48px;
        align-items: flex-start;
        background: var(--yellow, #FFD050);
        color: var(--black, #232536);
        font-family: 'Sen', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        border: none;

        &:hover {
            background: #EDC14A;
        }
    }
}

// Футер
.footer {
    padding: 59px 80px 58px 80px;
    background: var(--black, #232536);

    .footer_inner {
        display: flex;
        flex-direction: column;

        .footer_inner_nav {
            display: flex;
            justify-content: space-between;
            min-height: 85px;
            align-items: flex-start;

            .nav_menu {
                display: flex;
                color: var(--light, #FFF);
                font-family: 'Inter', sans-serif;
                align-items: flex-start;
                margin: 0;

                & li {
                    margin-left: 24px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    list-style-type: none;

                    & a {
                        text-decoration: none;
                        color: var(--light, #FFF);
                        font-family: 'Inter', sans-serif;
                    }
                }
            }
        }


        .subscription {
            display: flex;
            background-color: #2e3040;
        }

        .subscription_left {
            padding: 80px 64px;
            max-width: 690px;

            >p {
                display: inline-block;
                color: #FFF;
                font-family: 'Sen', sans-serif;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 48px;
                letter-spacing: -2px;
                margin: 0;
                max-width: 562px;
            }
        }

        .subscription_right {
            display: flex;
            padding: 84px 56px 116px 0;

            & [type=text] {
                margin-right: 24px;
                width: 298px;
                height: 56px;
                background: #2e3040;
                padding-left: 25px;
                border: 1px solid var(--dark-grey, #4C4C4C);
            }

            & [type=submit] {
                display: inline-flex;
                padding: 16px 48px;
                align-items: flex-start;
                background: var(--yellow, #FFD050);
                color: var(--black, #232536);
                font-family: 'Sen', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                border: none;

                &:hover {
                    background: #EDC14A;
                }
            }
        }

        .adress_media {
            display: flex;
            justify-content: space-between;
            margin: 48px 0 0 0;

            >p {
                color: var(--light, #FFF);
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                margin: 0;
                opacity: 0.7;
            }

            >menu {
                display: flex;
                margin: 0;
                align-items: flex-end;

                >li {
                    list-style-type: none;

                    &:not(:first-of-type) {
                        margin-left: 26.67px;
                    }
                }
            }
        }

        >p {
            color: var(--light, #FFF);
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            margin: 0;
            opacity: 0.7;
        }
    }
}