// Для всех
@media all and (max-width: 1439px) {
    .subscription_right {
        flex-direction: column;

        & [type=submit] {
            margin-top: 10px;
        }
    }
}

// Для всех
@media all and (max-width: 1070px) {
    .subscription {
        flex-direction: column;
        text-align: center;
        padding: 40px 32px;
        max-width: none;
    }

    .footer .footer_inner .subscription_left{
        padding: 0;
    }

    .footer .footer_inner .subscription_right{
        padding: 40px 30px;
    }
}

// Для всех
@media all and (max-width: 917px){
    .subscription_right{
        flex-direction: column;
    }

    .footer .footer_inner .subscription_right [type=text]{
        margin: 0;
    }
}

// Для всех
@media all and (max-width: 895px){
    .footer_inner_nav{
        flex-direction: column;
    }

    .footer .footer_inner .footer_inner_nav .nav_menu{
        justify-content: center;
        padding: 0;
    }
}

// ДОБАВИТЬ!
// Для всех (ПОД ЗАМЕНУ)
@media all and(max-width: 1375px) {
    .container {
        padding: 0 20px;
    }
}

// Для всех (ПОД ЗАМЕНУ)
@media all and (max-width: 800px) {
    .navigation .nav [for=burger] {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 32px;
    }

    nav {
        display: none;
        position: absolute;
        top: 50px;
        right: 182px;
        margin-top: 2px;
        background-color: rgba(35, 37, 54, 1);
        user-select: none;
        z-index: 2;

        & menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        & li {
            margin: 24px;
        }
    }

    #burger:checked+label+nav {
        display: block;
    }
}

// Для всех
@media all and (max-width: 650px) {
    .footer .footer_inner .subscription {
        padding: 10px;
    }

    .footer .footer_inner .subscription_right {
        padding: 0;
    }

    .footer .footer_inner .subscription_right [type=text] {
        margin: 0;
        max-width: 298px;
        width: 100%;
    }
}

// Для всех
@media all and (max-width: 631px) {
    .footer .footer_inner .footer_inner_nav {
        align-items: center;
    }

    .footer .footer_inner .footer_inner_nav .nav_menu {
        flex-direction: column;
        align-items: center;
        margin: 25px;

        >li {
            margin: 0;
        }
    }
}

// Для всех
@media all and (max-width: 547px) {
    .footer .footer_inner .subscription_right [type=text] {
        padding: 0;
    }
}

// Для всех
@media all and (max-width: 457px) {
    .footer .footer_inner .adress_media>menu {
        flex-direction: column;
    }
}

// Для всех
@media all and (max-width: 447px) {
    .footer .footer_inner .subscription_left>p {
        font-size: 30px;
        line-height: 42px;
    }
}

// Для всех
@media all and (max-width: 466px) {
    .navigation .nav button {
        display: none;
    }

    nav {
        right: 3px;
    }
}

// Для всех
@media all and (max-width: 414px) {
    .footer .container {
        padding: 0;
    }
}

// Для всех
@media all and (max-width: 395px) {
    .footer .footer_inner .subscription_right [type=submit] {
        padding: 10px;
    }
}

// Для всех
@media all and (max-width: 368px) {
    .footer .footer_inner .subscription_left>p {
        font-size: 25px;
        line-height: 35px;
    }
}