* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 38px 1fr 38px;
    grid-template-areas:
        'header header'
        'leftside main'
        'footer footer'
}

.header {
    display: grid;
    grid-area: header;
    grid-column: 1 / span 2;
}

.header p {
    color: blue;
    text-transform: uppercase;
    font-weight: 600;
    background-color: rgb(87, 160, 228);
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
    width: 100%;
}

.left {
    max-width: 200px;
    min-width: 200px;
    padding: 10px 10px;
    vertical-align: top;
    background-color: rgb(204, 204, 72);
    grid-area: leftside;

    .sport_list {
        padding-left: 0px;
        font-weight: bold;
    }
}

.main_content {
    background-image: url('../../Ball.jpg');
    background-repeat: repeat-y;
    background-position: top right;

    & h3 {
        text-transform: uppercase;
        text-align: center;
        padding-top: 10px;
        margin: 0;
    }

    & p {
        padding: 0 15px;
    }

    & img {
        float: left;
        margin: 15px 15px;
    }
}

.footer p {
    display: grid;
    color: blue;
    text-transform: uppercase;
    font-weight: 600;
    background-color: rgb(87, 160, 228);
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
    width: 100%;
}