.container {
    max-width: 1282px;
    margin: 0 auto;
}

// Шапка
.header {
    background-color: rgba(35, 37, 54, 1);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;

    .nav{
        display: flex;
        justify-content: flex-end;

        .nav_menu {
            display: flex;
            color: var(--light, #FFF);
            font-family: 'Inter', sans-serif;
            align-items: center;
            padding: 0;
    
            & li {
                margin-left: 24px;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                list-style-type: none;
    
                & a {
                    text-decoration: none;
                    color: var(--light, #FFF);
                    font-family: 'Inter', sans-serif;
                }
            }
        }

        & button {
            display: inline-flex;
            padding: 16px 48px;
            align-items: flex-start;
            color: var(--black, #232536);
            font-family: 'Sen', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin-left: 32px;
        }
    }
}