.container {
  max-width: 1282px;
  margin: 0 auto; }

.header {
  background-color: #232536; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
  position: relative; }
  .navigation .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .navigation .nav #burger {
      display: none; }
    .navigation .nav [for=burger] {
      display: none; }
    .navigation .nav .nav_menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: var(--light, #FFF);
      font-family: 'Inter', sans-serif;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0; }
      .navigation .nav .nav_menu li {
        margin-left: 24px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        list-style-type: none; }
        .navigation .nav .nav_menu li a {
          text-decoration: none;
          color: var(--light, #FFF);
          font-family: 'Inter', sans-serif; }
    .navigation .nav button {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      padding: 16px 48px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      color: var(--black, #232536);
      font-family: 'Sen', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      margin-left: 32px; }

.about_upper .container {
  position: relative; }

.about_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 0 0 0; }
  .about_main .about_main_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 32px 0 109px;
    background-color: #FFF;
    padding: 64px 64px 64px 64px;
    z-index: 1; }
    .about_main .about_main_left > p:first-of-type {
      color: var(--black, #232536);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin: 0 0 16px 0; }
    .about_main .about_main_left > p:last-of-type {
      color: var(--black, #232536);
      font-family: 'Sen', sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: -2px;
      max-width: 496px;
      margin: 0; }
  .about_main .about_main_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 38px; }
    .about_main .about_main_right > p {
      color: var(--dark-grey, #4C4C4C);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      margin-top: 105px;
      max-width: 477px; }

.about_main_upper2 {
  padding-top: 265px;
  background: url("./pictures/ce4666853a588ecefa1d1add86d0a4da.png") no-repeat;
  background-position: -280px -300px;
  position: relative;
  z-index: 0;
  top: -65px; }

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 109px;
  padding: 32px 58px 32px 48px;
  max-width: 524px;
  background-color: var(--yellow, #FFD050); }
  .counter .counter_column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .counter .counter_column > p:first-of-type {
      color: var(--black, #232536);
      font-family: 'Sen', sans-serif;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: -2px;
      margin: 0; }
    .counter .counter_column > p:last-of-type {
      color: var(--black, #232536);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      margin: 0; }

.colored {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 862px;
  margin-left: 109px; }
  .colored .violet {
    background-color: var(--purple, #592EA9);
    height: 23px;
    -webkit-box-flex: 1.66;
        -ms-flex-positive: 1.66;
            flex-grow: 1.66; }
  .colored .yellow {
    background-color: #FFD050;
    height: 23px;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3; }

.about_lower > .container {
  margin-top: -65px;
  background: var(--lavender, #F4F0F8); }
  .about_lower > .container .mission_vision {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 128px 0 64px 109px;
    margin-bottom: 128px; }
    .about_lower > .container .mission_vision .mission {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-right: 32px; }
      .about_lower > .container .mission_vision .mission > p:first-of-type {
        color: var(--black, #232536);
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin: 0 0 24px 0; }
      .about_lower > .container .mission_vision .mission > p:nth-of-type(2) {
        color: var(--black, #232536);
        font-family: 'Sen', sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -1px;
        margin: 0 0 16px 0;
        max-width: 481px; }
      .about_lower > .container .mission_vision .mission > p:last-of-type {
        color: var(--medium-grey, #6D6E76);
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin: 0;
        max-width: 516px; }
    .about_lower > .container .mission_vision .vision {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-right: 32px; }
      .about_lower > .container .mission_vision .vision > p:first-of-type {
        color: var(--black, #232536);
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin: 0 0 24px 0; }
      .about_lower > .container .mission_vision .vision > p:nth-of-type(2) {
        color: var(--black, #232536);
        font-family: 'Sen', sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -1px;
        margin: 0 0 16px 0;
        max-width: 481px; }
      .about_lower > .container .mission_vision .vision > p:last-of-type {
        color: var(--medium-grey, #6D6E76);
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin: 0;
        max-width: 516px; }

.creatives_blog_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 128px; }
  .creatives_blog_left .creatives {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 32px; }
    .creatives_blog_left .creatives > p:first-of-type {
      color: #232536;
      font-family: 'Sen', sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -2px;
      margin: 0 0 16px 0; }
    .creatives_blog_left .creatives > p:nth-of-type(2) {
      color: var(--black, #232536);
      font-family: 'Sen', sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      margin: 0 0 16px 0;
      max-width: 519px; }
    .creatives_blog_left .creatives > p:last-of-type {
      color: var(--black, #232536);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      margin: 0 0 32px 0;
      max-width: 519px; }

.creatives_blog_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 128px; }
  .creatives_blog_right .started {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 64px; }
    .creatives_blog_right .started > p:first-of-type {
      color: #232536;
      font-family: 'Sen', sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -2px;
      margin: 0 0 16px 0; }
    .creatives_blog_right .started > p:nth-of-type(2) {
      color: var(--black, #232536);
      font-family: 'Sen', sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      margin: 0 0 16px 0;
      max-width: 519px; }
    .creatives_blog_right .started > p:last-of-type {
      color: var(--black, #232536);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      margin: 0 0 32px 0;
      max-width: 519px; }

.authorslist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .authorslist > h4 {
    color: var(--black, #232536);
    font-family: 'Sen', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    text-align: center; }
  .authorslist .authorsabout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 96px; }
    .authorslist .authorsabout .author {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      min-width: 296px;
      background: var(--light-grey, #F4F4F4);
      margin-bottom: 32px; }
      .authorslist .authorsabout .author img {
        margin: 40px 84px 20px 84px; }
      .authorslist .authorsabout .author p:first-of-type {
        color: var(--black, #232536);
        font-family: 'Sen', sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -1px;
        margin: 0; }
      .authorslist .authorsabout .author p:last-of-type {
        color: var(--medium-grey, #6D6E76);
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin: 0 0 20px 0; }
      .authorslist .authorsabout .author .author_social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-width: 112px;
        margin: 0 0 40px 0; }
        .authorslist .authorsabout .author .author_social img {
          margin: 0; }
    .authorslist .authorsabout .author:hover {
      background: var(--light-yellow, #FBF6EA); }

.join_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 128px; }
  .join_inner p:first-of-type {
    color: var(--black, #232536);
    font-family: 'Sen', sans-serif;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    max-width: 414px;
    margin: 0 0 16px 0; }
  .join_inner p:last-of-type {
    color: var(--medium-grey, #6D6E76);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    max-width: 405px;
    margin: 0 0 32px 0; }
  .join_inner button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 16px 48px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: var(--yellow, #FFD050);
    color: var(--black, #232536);
    font-family: 'Sen', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    border: none; }
    .join_inner button:hover {
      background: #EDC14A; }

.footer {
  padding: 59px 80px 58px 80px;
  background: var(--black, #232536); }
  .footer .footer_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer .footer_inner .footer_inner_nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      min-height: 85px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .footer .footer_inner .footer_inner_nav .nav_menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: var(--light, #FFF);
        font-family: 'Inter', sans-serif;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin: 0; }
        .footer .footer_inner .footer_inner_nav .nav_menu li {
          margin-left: 24px;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          list-style-type: none; }
          .footer .footer_inner .footer_inner_nav .nav_menu li a {
            text-decoration: none;
            color: var(--light, #FFF);
            font-family: 'Inter', sans-serif; }
    .footer .footer_inner .subscription {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: #2e3040; }
    .footer .footer_inner .subscription_left {
      padding: 80px 64px;
      max-width: 690px; }
      .footer .footer_inner .subscription_left > p {
        display: inline-block;
        color: #FFF;
        font-family: 'Sen', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2px;
        margin: 0;
        max-width: 562px; }
    .footer .footer_inner .subscription_right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 84px 56px 116px 0; }
      .footer .footer_inner .subscription_right [type=text] {
        margin-right: 24px;
        width: 298px;
        height: 56px;
        background: #2e3040;
        padding-left: 25px;
        border: 1px solid var(--dark-grey, #4C4C4C); }
      .footer .footer_inner .subscription_right [type=submit] {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 16px 48px;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        background: var(--yellow, #FFD050);
        color: var(--black, #232536);
        font-family: 'Sen', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        border: none; }
        .footer .footer_inner .subscription_right [type=submit]:hover {
          background: #EDC14A; }
    .footer .footer_inner .adress_media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 48px 0 0 0; }
      .footer .footer_inner .adress_media > p {
        color: var(--light, #FFF);
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin: 0;
        opacity: 0.7; }
      .footer .footer_inner .adress_media > menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; }
        .footer .footer_inner .adress_media > menu > li {
          list-style-type: none; }
          .footer .footer_inner .adress_media > menu > li:not(:first-of-type) {
            margin-left: 26.67px; }
    .footer .footer_inner > p {
      color: var(--light, #FFF);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      margin: 0;
      opacity: 0.7; }
