@media all and (max-width: 1439px) {
  .subscription_right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .subscription_right [type=submit] {
      margin-top: 10px; } }
@media all and (max-width: 1070px) {
  .subscription {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 40px 32px;
    max-width: none; }

  .footer .footer_inner .subscription_left {
    padding: 0; }

  .footer .footer_inner .subscription_right {
    padding: 40px 30px; } }
@media all and (max-width: 917px) {
  .subscription_right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .footer .footer_inner .subscription_right [type=text] {
    margin: 0; } }
@media all and (max-width: 895px) {
  .footer_inner_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .footer .footer_inner .footer_inner_nav .nav_menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0; } }
@media all and (max-width: 865px) {
  .contact_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }

  .conversation_inner .container2 .contact_info .contact_info_left {
    margin-right: 0; }

  .conversation_inner .container2 .contact_info .contact_info_left > p:first-of-type {
    padding: 0 99px; }

  .conversation_inner .container2 .contact_info .contact_info_right > p:first-of-type {
    padding: 0 99px; } }
@media all and (max-width: 1375px) {
  .container {
    padding: 0 20px; } }
@media all and (max-width: 800px) {
  .navigation .nav [for=burger] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: 32px; }

  nav {
    display: none;
    position: absolute;
    top: 50px;
    right: 182px;
    margin-top: 2px;
    background-color: #232536;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 2; }
    nav menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    nav li {
      margin: 24px; }

  #burger:checked + label + nav {
    display: block; } }
@media all and (max-width: 650px) {
  .footer .footer_inner .subscription {
    padding: 10px; }

  .footer .footer_inner .subscription_right {
    padding: 0; }

  .footer .footer_inner .subscription_right [type=text] {
    margin: 0;
    max-width: 298px;
    width: 100%; } }
@media all and (max-width: 631px) {
  .footer .footer_inner .footer_inner_nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .footer .footer_inner .footer_inner_nav .nav_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 25px; }
    .footer .footer_inner .footer_inner_nav .nav_menu > li {
      margin: 0; } }
@media all and (max-width: 547px) {
  .footer .footer_inner .subscription_right [type=text] {
    padding: 0; } }
@media all and (max-width: 496px) {
  .simpleidea_inner p:nth-of-type(2) {
    font-size: 36px;
    line-height: 57px; } }
@media all and (max-width: 457px) {
  .footer .footer_inner .adress_media > menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }
@media all and (max-width: 447px) {
  .footer .footer_inner .subscription_left > p {
    font-size: 30px;
    line-height: 42px; } }
@media all and (max-width: 466px) {
  .navigation .nav button {
    display: none; }

  nav {
    right: 3px; } }
@media all and (max-width: 444px) {
  .conversation_inner .container2 .contact_input [method=post] [type=text] {
    padding: 8px; }

  .conversation_inner .container2 .contact_input [method=post] [name=query] {
    padding: 8px; }

  .conversation_inner .container2 .contact_input [method=post] textarea {
    padding: 8px; } }
@media all and (max-width: 444px) {
  .conversation_inner .container2 .contact_info {
    padding: 24px 15px; } }
@media all and (max-width: 414px) {
  .category_choise .category_cube {
    margin: 25px 0; } }
@media all and (max-width: 414px) {
  .footer .container {
    padding: 0; } }
@media all and (max-width: 395px) {
  .footer .footer_inner .subscription_right [type=submit] {
    padding: 10px; } }
@media all and (max-width: 368px) {
  .footer .footer_inner .subscription_left > p {
    font-size: 25px;
    line-height: 35px; } }
@media all and (max-width: 367px) {
  .conversation_inner .container2 .contact_info .contact_info_left > p:first-of-type {
    padding: 0 60px; }

  .conversation_inner .container2 .contact_info .contact_info_right > p:first-of-type {
    padding: 0 60px; } }
