.container {
  max-width: 1282px;
  margin: 0 auto; }

.header {
  background-color: #232536; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
  position: relative; }
  .navigation .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .navigation .nav #burger {
      display: none; }
    .navigation .nav [for=burger] {
      display: none; }
    .navigation .nav .nav_menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: var(--light, #FFF);
      font-family: 'Inter', sans-serif;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0; }
      .navigation .nav .nav_menu li {
        margin-left: 24px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        list-style-type: none; }
        .navigation .nav .nav_menu li a {
          text-decoration: none;
          color: var(--light, #FFF);
          font-family: 'Inter', sans-serif; }
    .navigation .nav button {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      padding: 16px 48px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      color: var(--black, #232536);
      font-family: 'Sen', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      margin-left: 32px; }

.stepbystep {
  overflow: hidden;
  background: url("./pictures/man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook-3772622.png") no-repeat;
  background-size: cover;
  background-position: 0px -80px; }
  .stepbystep .stepbystepinner p:first-of-type {
    color: var(--light, #FFF);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 128px 0 24px 0; }
    .stepbystep .stepbystepinner p:first-of-type span {
      color: var(--light, #FFF);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 900;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase; }
  .stepbystep .stepbystepinner h1 {
    color: var(--light, #FFF);
    font-family: 'Sen', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    max-width: 803px;
    margin: 0 0 24px 0; }
  .stepbystep .stepbystepinner p:nth-last-of-type(2) {
    color: var(--light, #FFF);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; }
    .stepbystep .stepbystepinner p:nth-last-of-type(2) span {
      color: var(--yellow, #FFD050);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; }
  .stepbystep .stepbystepinner p:last-of-type {
    color: var(--light, #FFF);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 48px 0;
    max-width: 599px; }
  .stepbystep .stepbystepinner button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 16px 48px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: var(--yellow, #FFD050);
    margin: 0 0 192px 0;
    border: none;
    color: var(--black, #232536);
    font-family: 'Sen', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; }
    .stepbystep .stepbystepinner button:hover {
      background: #EDC14A; }

.postsinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }
  .postsinfo .postsinfo_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 733px;
    min-height: 724px;
    margin-right: 32px; }
    .postsinfo .postsinfo_left p {
      color: var(--black, #232536);
      font-family: 'Sen', sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -2px;
      margin: 128px 0 32px 0; }
    .postsinfo .postsinfo_left .left_about {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border: 1px solid #6d6e761a;
      border-color: #6d6e761a;
      margin-bottom: 128px; }
      .postsinfo .postsinfo_left .left_about .infoleftimg {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: url("./pictures/white-concrete-building-1838640.png");
        margin: 32px;
        max-width: 669px;
        min-height: 352px; }
      .postsinfo .postsinfo_left .left_about p:first-of-type {
        color: var(--dark-grey, #4C4C4C);
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0;
        margin: 0 0 16px 32px; }
        .postsinfo .postsinfo_left .left_about p:first-of-type span {
          color: var(--purple, #592EA9);
          font-family: 'Inter', sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px; }
      .postsinfo .postsinfo_left .left_about p:nth-last-of-type(2) {
        color: var(--black, #232536);
        font-family: 'Sen', sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -1px;
        margin: 0 32px 16px 32px; }
      .postsinfo .postsinfo_left .left_about p:last-of-type {
        color: var(--medium-grey, #6D6E76);
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0;
        margin: 0 150px 32px 32px; }
      .postsinfo .postsinfo_left .left_about button {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 16px 48px;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        background: var(--yellow, #FFD050);
        margin: 0 0 32px 32px;
        border: none;
        color: var(--black, #232536);
        font-family: 'Sen', sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        width: 204px; }
        .postsinfo .postsinfo_left .left_about button:hover {
          background: #EDC14A; }
  .postsinfo .postsinfo_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 517px;
    min-height: 724px; }
    .postsinfo .postsinfo_right .postsinfo_right_nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 128px 0 32px 0;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .postsinfo .postsinfo_right .postsinfo_right_nav p:first-of-type {
        color: var(--black, #232536);
        font-family: 'Sen', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2px;
        margin: 0; }
      .postsinfo .postsinfo_right .postsinfo_right_nav p:last-of-type {
        color: var(--purple, #592EA9);
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; }
        .postsinfo .postsinfo_right .postsinfo_right_nav p:last-of-type a {
          text-decoration: none; }
    .postsinfo .postsinfo_right .certainpost {
      max-width: 517px; }
      .postsinfo .postsinfo_right .certainpost p:first-of-type {
        color: var(--dark-grey, #4C4C4C);
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin: 32px 0 8px 32px; }
        .postsinfo .postsinfo_right .certainpost p:first-of-type span {
          color: var(--purple, #592EA9);
          font-family: 'Inter', sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px; }
      .postsinfo .postsinfo_right .certainpost p:last-of-type {
        color: var(--black, #232536);
        font-family: 'Sen', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        margin: 0 116px 25px 32px; }
    .postsinfo .postsinfo_right .certainpost:hover {
      background: var(--light-yellow, #FBF6EA); }

.about_mission_lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .about_mission_lines .white,
  .about_mission_lines .yellow,
  .about_mission_lines .violet {
    height: 23px; }
  .about_mission_lines .white {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .about_mission_lines .yellow {
    -webkit-box-flex: 3.4;
        -ms-flex-positive: 3.4;
            flex-grow: 3.4;
    background: #FFD050; }
  .about_mission_lines .violet {
    -webkit-box-flex: 1.3;
        -ms-flex-positive: 1.3;
            flex-grow: 1.3;
    background: var(--purple, #592EA9); }

.about_mission_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--lavender, #F4F0F8); }
  .about_mission_text .about_mission_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 515px;
    margin: 96px 82px 96px 80px; }
    .about_mission_text .about_mission_left p:first-of-type {
      color: var(--black, #232536);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin: 0 0 24px 0; }
    .about_mission_text .about_mission_left p:nth-of-type(2) {
      color: var(--black, #232536);
      font-family: 'Sen', sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -2px;
      margin: 0 0 16px 0;
      max-width: 493px; }
    .about_mission_text .about_mission_left p:nth-of-type(3) {
      color: var(--medium-grey, #6D6E76);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      margin: 0 0 16px 0; }
    .about_mission_text .about_mission_left p:last-of-type {
      color: var(--purple, #592EA9);
      font-family: 'Sen', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      margin: 0; }
      .about_mission_text .about_mission_left p:last-of-type a {
        text-decoration: none; }
  .about_mission_text .about_mission_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 98px 108px 153.27px 0;
    max-width: 516px; }
    .about_mission_text .about_mission_right p:first-of-type {
      color: var(--black, #232536);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin: 0 0 24px 0; }
    .about_mission_text .about_mission_right p:nth-last-of-type(2) {
      color: var(--black, #232536);
      font-family: 'Sen', sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -1px;
      max-width: 481px;
      margin: 0 0 16px 0; }
    .about_mission_text .about_mission_right p:last-of-type {
      color: var(--medium-grey, #6D6E76);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      margin: 0; }

.category_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 128px; }
  .category_inner > p {
    color: var(--black, #232536);
    font-family: 'Sen', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    text-align: center;
    margin: 128px 0 48px 0; }

.category_choise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .category_choise .category_cube {
    max-width: 296px;
    border: 1px solid #6d6e763d; }
    .category_choise .category_cube .category_icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 48px;
      height: 48px;
      background: var(--light-yellow, #FBF6EA) center;
      border-radius: 10px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 32px 0 16px 32px; }
    .category_choise .category_cube p:first-of-type {
      color: var(--black, #232536);
      font-family: 'Sen', sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -1px;
      margin: 0 0 4px 32px; }
    .category_choise .category_cube p:last-of-type {
      color: var(--medium-grey, #6D6E76);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      max-width: 232px;
      margin: 0 0 32px 32px; }
  .category_choise .category_cube:hover {
    background: var(--yellow, #FFD050); }

.simpleidea > .container {
  background: url("./pictures/close-up-photography-of-man-wearing-sunglasses-1212984.png") no-repeat;
  min-height: 705px;
  position: relative;
  margin-bottom: 128px;
  overflow: hidden; }

.simpleidea_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 706px;
  min-height: 584px;
  background-color: #FFF;
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-top: 121px; }
  .simpleidea_inner p:first-of-type {
    color: #232536;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 80px 0 24px 80px; }
  .simpleidea_inner p:nth-of-type(2) {
    color: var(--black, #232536);
    font-family: 'Sen', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -2px;
    max-width: 546px;
    margin: 0 80px 16px 80px; }
  .simpleidea_inner p:last-of-type {
    color: var(--medium-grey, #6D6E76);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    max-width: 546px;
    margin: 0 80px 32px 80px; }
  .simpleidea_inner button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 16px 48px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: var(--yellow, #FFD050);
    color: var(--black, #232536);
    font-family: 'Sen', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    border: none;
    width: 269px;
    margin: 0 0 0 80px; }
    .simpleidea_inner button:hover {
      background: #EDC14A; }

.authorslist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .authorslist > p {
    color: var(--black, #232536);
    font-family: 'Sen', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    text-align: center;
    margin-bottom: 48px; }
  .authorslist .authorsabout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 96px; }
    .authorslist .authorsabout .author {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      min-width: 296px;
      background: var(--light-grey, #F4F4F4); }
      .authorslist .authorsabout .author img {
        margin: 40px 84px 20px 84px; }
      .authorslist .authorsabout .author p:first-of-type {
        color: var(--black, #232536);
        font-family: 'Sen', sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -1px;
        margin: 0; }
      .authorslist .authorsabout .author p:last-of-type {
        color: var(--medium-grey, #6D6E76);
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin: 0 0 20px 0; }
      .authorslist .authorsabout .author .author_social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-width: 112px;
        margin: 0 0 40px 0; }
        .authorslist .authorsabout .author .author_social img {
          margin: 0; }
    .authorslist .authorsabout .author:hover {
      background: var(--light-yellow, #FBF6EA); }

.partners_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 104px; }
  .partners_inner .we_are {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .partners_inner .we_are p:first-of-type {
      color: var(--medium-grey, #6D6E76);
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      opacity: 0.6;
      margin: 0; }
    .partners_inner .we_are p:last-of-type {
      color: var(--medium-grey, #6D6E76);
      font-family: 'Sen', sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      margin: 0; }
  .partners_inner img {
    opacity: 0.8; }

.testimonials .container {
  background: var(--light-yellow, #FBF6EA);
  min-height: 464px;
  margin-bottom: 128px; }

.testimonials_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .testimonials_inner .testimonials_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 92px 0 74px 112px;
    padding-right: 80px;
    border-right: 1px solid #6d6e765d; }
    .testimonials_inner .testimonials_left p:first-of-type {
      color: var(--black, #232536);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin: 0 0 12px 0; }
    .testimonials_inner .testimonials_left p:nth-of-type(2) {
      color: var(--black, #232536);
      font-family: 'Sen', sans-serif;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -2px;
      max-width: 354px;
      margin: 0 0 16px 0; }
    .testimonials_inner .testimonials_left p:last-of-type {
      color: var(--black, #232536);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      max-width: 349px; }
  .testimonials_inner .testimonials_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 80px 112px 75px 96px; }
    .testimonials_inner .testimonials_right > p {
      color: var(--black, #232536);
      font-family: 'Sen', sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      max-width: 469px;
      margin: 0 0 121px 0; }
    .testimonials_inner .testimonials_right .testimonials_right_author {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .testimonials_inner .testimonials_right .testimonials_right_author .testimonials_right_author_credentials {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-left: 16px; }
        .testimonials_inner .testimonials_right .testimonials_right_author .testimonials_right_author_credentials p:first-of-type {
          color: var(--black, #232536);
          font-family: 'Sen', sans-serif;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px;
          margin: 0; }
        .testimonials_inner .testimonials_right .testimonials_right_author .testimonials_right_author_credentials p:last-of-type {
          color: var(--medium-grey, #6D6E76);
          font-family: 'Inter', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          margin: 0; }

.join_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 128px; }
  .join_inner p:first-of-type {
    color: var(--black, #232536);
    font-family: 'Sen', sans-serif;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    max-width: 414px;
    margin: 0 0 16px 0; }
  .join_inner p:last-of-type {
    color: var(--medium-grey, #6D6E76);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    max-width: 405px;
    margin: 0 0 32px 0; }
  .join_inner button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 16px 48px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: var(--yellow, #FFD050);
    color: var(--black, #232536);
    font-family: 'Sen', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    border: none; }
    .join_inner button:hover {
      background: #EDC14A; }

.footer {
  padding: 59px 80px 58px 80px;
  background: var(--black, #232536); }
  .footer .footer_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer .footer_inner .footer_inner_nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      min-height: 85px;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .footer .footer_inner .footer_inner_nav .nav_menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: var(--light, #FFF);
        font-family: 'Inter', sans-serif;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        margin: 0; }
        .footer .footer_inner .footer_inner_nav .nav_menu li {
          margin-left: 24px;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          list-style-type: none; }
          .footer .footer_inner .footer_inner_nav .nav_menu li a {
            text-decoration: none;
            color: var(--light, #FFF);
            font-family: 'Inter', sans-serif; }
        .footer .footer_inner .footer_inner_nav .nav_menu li:first-of-type {
          margin: 0; }
    .footer .footer_inner .subscription {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: #2e3040; }
    .footer .footer_inner .subscription_left {
      padding: 80px 64px;
      max-width: 690px; }
      .footer .footer_inner .subscription_left > p {
        display: inline-block;
        color: #FFF;
        font-family: 'Sen', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2px;
        margin: 0;
        max-width: 562px; }
    .footer .footer_inner .subscription_right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 84px 56px 116px 0; }
      .footer .footer_inner .subscription_right [type=text] {
        margin-right: 24px;
        width: 298px;
        height: 56px;
        background: #2e3040;
        padding-left: 25px;
        border: 1px solid var(--dark-grey, #4C4C4C); }
      .footer .footer_inner .subscription_right [type=submit] {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 16px 48px;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        background: var(--yellow, #FFD050);
        color: var(--black, #232536);
        font-family: 'Sen', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        border: none; }
        .footer .footer_inner .subscription_right [type=submit]:hover {
          background: #EDC14A; }
    .footer .footer_inner .adress_media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 48px 0 0 0; }
      .footer .footer_inner .adress_media > p {
        color: var(--light, #FFF);
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin: 0;
        opacity: 0.7; }
      .footer .footer_inner .adress_media > menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; }
        .footer .footer_inner .adress_media > menu > li {
          list-style-type: none; }
          .footer .footer_inner .adress_media > menu > li:not(:first-of-type) {
            margin-left: 26.67px; }
    .footer .footer_inner > p {
      color: var(--light, #FFF);
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      margin: 0;
      opacity: 0.7; }
