@media all and (max-width: 1439px) {
  .subscription_right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .subscription_right [type=submit] {
      margin-top: 10px; } }
@media all and (max-width: 1323px) {
  .testimonials_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .testimonials_inner .testimonials_left {
      margin: 92px 32px 0 32px;
      padding: 0;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      border-right: none;
      border-bottom: 1px solid #6d6e765d; }
      .testimonials_inner .testimonials_left p:nth-of-type(2),
      .testimonials_inner .testimonials_left p:last-of-type {
        max-width: none; }
    .testimonials_inner .testimonials_right {
      margin: 40px 32px 92px 32px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; }
      .testimonials_inner .testimonials_right > p {
        max-width: none;
        margin: 0 0 60px 0; } }
@media all and (max-width: 1294px) {
  .authorslist > p {
    margin-bottom: 0; }

  .authorslist .authorsabout {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 100px;
    margin-bottom: 0; }
    .authorslist .authorsabout .author {
      margin: 40px;
      min-width: 340px;
      min-height: 350px; } }
@media all and (max-width: 1287px) {
  .postsinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .postsinfo .postsinfo_left {
      max-width: none;
      margin-right: 0; }
      .postsinfo .postsinfo_left > p {
        margin: 64px 0 64px 0;
        text-align: center; }
      .postsinfo .postsinfo_left .left_about {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center; }
        .postsinfo .postsinfo_left .left_about .infoleftimg {
          max-width: 669px;
          width: 100%;
          max-height: 352px; }
        .postsinfo .postsinfo_left .left_about p:first-of-type {
          margin: 0 0 16px 0; }
        .postsinfo .postsinfo_left .left_about p:nth-last-of-type(2) {
          margin: 0 32px 16px 32px; }
        .postsinfo .postsinfo_left .left_about p:last-of-type {
          margin: 0 32px 32px 32px; }
    .postsinfo .postsinfo_right {
      max-width: none;
      min-height: none; }
      .postsinfo .postsinfo_right .postsinfo_right_nav {
        margin: 0 0 32px 0;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly; }

  .postsinfo .postsinfo_right .certainpost {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: none;
    text-align: center; }
    .postsinfo .postsinfo_right .certainpost p:first-of-type {
      margin: 32px 32px 8px 32px; }
    .postsinfo .postsinfo_right .certainpost p:last-of-type {
      margin: 0 32px 25px 32px; }

  .about_mission_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .about_mission_text .about_mission_left {
      margin: 96px 32px;
      max-width: none;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; }
      .about_mission_text .about_mission_left p:nth-of-type(2) {
        max-width: none; }
    .about_mission_text .about_mission_right {
      margin: 0 32px 96px 32px;
      max-width: none;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; }
      .about_mission_text .about_mission_right p:nth-of-type(2) {
        max-width: none; }

  .category_inner > p {
    margin: 64px 0 48px 0; } }
@media all and (max-width: 1180px) {
  .category_inner > p {
    margin: 64px 0 0 0; }

  .category_choise {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 50px; }
    .category_choise .category_cube {
      margin: 35px; } }
@media all and (max-width: 1070px) {
  .subscription {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 40px 32px;
    max-width: none; }

  .footer .footer_inner .subscription_left {
    padding: 0; }

  .footer .footer_inner .subscription_right {
    padding: 40px 30px; } }
@media all and (max-width: 1000px) {
  .partners_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .partners_inner > img {
      margin: 12px; }
    .partners_inner > img:first-of-type {
      margin-top: 32px; } }
@media all and (max-width: 917px) {
  .subscription_right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }
@media all and (max-width: 895px) {
  .footer_inner_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .footer .footer_inner .footer_inner_nav .nav_menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0; } }
@media all and (max-width: 760px) {
  .simpleidea_inner {
    position: unset; } }
@media all and (max-width: 800px) {
  .navigation .nav [for=burger] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: 12px; }

  nav {
    display: none;
    position: absolute;
    top: 50px;
    right: 182px;
    margin-top: 2px;
    background-color: #232536;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 2; }
    nav menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    nav li {
      margin: 24px; }

  #burger:checked + label + nav {
    display: block; } }
@media all and (max-width: 1375px) {
  .container {
    padding: 0 20px; } }
@media all and (max-width: 1294px) {
  .authorslist > p {
    margin-bottom: 0; }

  .authorslist .authorsabout {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 100px;
    margin-bottom: 0; }
    .authorslist .authorsabout .author {
      margin: 25px;
      min-width: 300px;
      min-height: 300px; } }
@media all and (max-width: 800px) {
  .navigation .nav [for=burger] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: 32px; }

  nav {
    display: none;
    position: absolute;
    top: 50px;
    right: 182px;
    margin-top: 2px;
    background-color: #232536;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 2; }
    nav menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    nav li {
      margin: 24px; }

  #burger:checked + label + nav {
    display: block; } }
@media all and (max-width: 650px) {
  .footer .footer_inner .subscription {
    padding: 10px; }

  .footer .footer_inner .subscription_right {
    padding: 0; }

  .footer .footer_inner .subscription_right [type=text] {
    margin: 0;
    max-width: 298px;
    width: 100%; } }
@media all and (max-width: 631px) {
  .footer .footer_inner .footer_inner_nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .footer .footer_inner .footer_inner_nav .nav_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 25px; }
    .footer .footer_inner .footer_inner_nav .nav_menu > li {
      margin: 0; } }
@media all and (max-width: 547px) {
  .footer .footer_inner .subscription_right [type=text] {
    padding: 0; } }
@media all and (max-width: 496px) {
  .simpleidea_inner p:nth-of-type(2) {
    font-size: 36px;
    line-height: 57px; } }
@media all and (max-width: 481px) {
  .category_choise .category_cube {
    margin: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .category_choise .category_cube .category_icon {
      margin: 32px; }
    .category_choise .category_cube > p:first-of-type {
      margin: 4px; }
    .category_choise .category_cube > p:last-of-type {
      margin: 4px 4px 32px 4px; } }
@media all and (max-width: 448px) {
  .simpleidea_inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .simpleidea_inner > p:first-of-type {
      margin: 80px 0 24px 0; }
    .simpleidea_inner > p:nth-of-type(2) {
      margin: 0 24px 16px 24px; }
    .simpleidea_inner > p:last-of-type {
      margin: 0 24px 32px 24px; }
    .simpleidea_inner > button {
      margin: 0; } }
@media all and (max-width: 457px) {
  .footer .footer_inner .adress_media > menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }
@media all and (max-width: 447px) {
  .footer .footer_inner .subscription_left > p {
    font-size: 30px;
    line-height: 42px; } }
@media all and (max-width: 444px) {
  .navigation .nav button {
    display: none; }

  nav {
    right: 3px; } }
@media all and (max-width: 414px) {
  .category_choise .category_cube {
    margin: 25px 0; } }
@media all and (max-width: 414px) {
  .footer .container {
    padding: 0; } }
@media all and (max-width: 395px) {
  .footer .footer_inner .subscription_right [type=submit] {
    padding: 10px; } }
@media all and (max-width: 368px) {
  .footer .footer_inner .subscription_left > p {
    font-size: 25px;
    line-height: 35px; } }
