@media all and (max-width: 450px) {
  .header_footer {
    display: none; }

  .main_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .main_content .right {
      background-image: none; }
      .main_content .right img {
        float: none;
        width: 93%; }
    .main_content .left {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      max-width: none;
      background-color: white; }
      .main_content .left li {
        display: inline-block;
        margin-right: 15px; } }
